<section class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <a href="/admin/vehicles/new" class="waves-effect waves-light btn manage red darken-2 right">Add Vehicle</a>
       </div>
    <div class="col s12">
    <h1>Vehicles</h1>
      <div class="divider"></div>
    </div>
  </div>
    <% if @vehicles.empty? %>
      <p class="flow-text">No Vehicles Listed</p>
    <% else %>
      <ul class="vehicles_list">
        <% @vehicles.each_slice(3) do |slice| %> 
          <div class="row">
            <% slice.each do |g| %>
              <li class="vehicle_node">
                <div class="col s12 m4">
                  <div class="card">
                    <% unless g.vehicle_photos.empty? %>
                    <div class="card-image waves-effect waves-block waves-light" />            
                    <%= link_to (image_tag (g.vehicle_photos.rank(:row_order).first.file_name.thumb.url), class: 'activator'), vehicle_path(g.id) %>    
                    </div>
                    <% else %>
                    <div class="card-image waves-effect waves-block waves-light" />            
                    <%= link_to (image_tag ("/images/vehicle-placeholder.jpg"), class: 'activator'), vehicle_path(g.id) %>    
                    </div>
                    <% end %>
                      <div class="card-content">
                        <span class="flow-text activator grey-text text-darken-4">
                          <%= link_to g.title.titleize, vehicle_path(g.id), :class => "grey-text text-darken-4" %>
                        </span>
                      </div>
                    <div class="card-action">
                      <span><a href="/admin/vehicles/<%= g.id %>/edit" class="blue-text">Edit</a></span>
                      <span><%= link_to "Delete", vehicle_path(g.id), :class => "blue-text", :method => :delete, data: { confirm: "Are you sure you want to delete this Vehicle?" } %></span>
                    </div>
                  </div>
                </div>
              </li> 
            <% end %>
          </div>
        <% end %>
      </ul>
    <% end %>    
  </div>
</section>
