<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12">
				<h1>New Vehicle</h1>
				<div class="divider"></div>
			</div>
		</div>
        
        <%= form_for @vehicle do |f| %>
        <div class="row">
           <div class="input-field col s12 m6">
             
              <%= f.select(:type_of_vehicle, ['Car', 'Truck', 'Motorcycle'], {include_blank: "Vehicle Type"}, {:class => "browser-default", :label => "Vehicle Type"}) %>
          </div>
        </div>
        <div class="row">
           <div class="input-field col s12">
               <label for="title" class="grey-text lighten-3">Vehicle Name</label>
              <%= f.text_field :title, :class => "validate", :type => "text" %>
          </div>
          <div class="input-field col s12">
              
              <%= f.cktext_area :description, ckeditor: { language: 'us', toolbar: 'mini'} %>
           </div>

           <div class="input-field col s12 m6">
               <label for="make" class="grey-text lighten-3">Make</label>
              <%= f.text_field :make, :class => "validate", :type => "text" %>
          </div>

          <div class="input-field col s12 m6">
               <label for="model" class="grey-text lighten-3">Model</label>
              <%= f.text_field :model, :class => "validate", :type => "text" %>
          </div>

          <div class="input-field col s12 m6">
               <label for="year" class="grey-text lighten-3">Year</label>
              <%= f.text_field :year %>
          </div>
          <div class="input-field col s12 m6">
               <label for="price" class="grey-text lighten-3">Price</label>
              <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: :any %>
          </div>
       </div>

       <div class="row">
		<div class="col 12">
         <%= f.file_field :vehicle_photos, multiple: true %>

		</div>
	</div>

       <div class="row">
       	    <div class="s12">
       	        <div class="card-action">
                     <%= f.submit 'Submit', :class => "btn btn-waves black" %>
                </div>
            </div>
        </div>
       </div>
        <% end %>

	</div>
</div>


