<div class="container">
	<div class="section">
		<div class="row">
		<% @vehicle.vehicle_photos.each_with_index do |image, index| %>
         <%= image_tag(image.url) %>
         <%= link_to "Delete", vehicle_vehicle_photo_path(@vehicle, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
         <% end %>
         <div class="row">
         	<%= form_for @vehicle, url: vehicle_vehicle_photos_path(@vehicle), method: :post do |f| %>
         	 <%= f.file_field :vehicle_photos, multiple: true %>
         	 <div class="card-action">
                     <%= f.submit 'Submit', :class => "btn btn-waves black" %>
                </div>
                <% end %>
         </div>
		</div>
	</div>
</div>