<section class="section">
<div class="container">
	<div class="row">
		<div class="col s12">
			<a href="/admin/vehicles/<%= @vehicle.slug %>/edit" class="waves-effect waves-light btn manage red darken-2 right">Edit Vehicle</a>
		</div>
		<div class="col s12">
				<h1><%= @vehicle.title.titleize %></h1> 
		<div class="divider"></div>
	    </div>
	</div>
	<div class="row">
		<div class="col s12 m4">
        <ul class="collection with-header">
        <li class="collection-header"><h4>Vehicle Details</h4></li>
        <li class="collection-item"><strong>Make:</strong> <%= @vehicle.make %></li>
        <li class="collection-item"><strong>Model:</strong> <%= @vehicle.model %></li>
        <li class="collection-item"><strong>Year:</strong> <%= @vehicle.year %></li>
        </ul>
        </div>
        <div class="col s12 m6 offset-m2">
            <h3>Price</h3>
        	<p class="flow-text"><%= number_to_currency(@vehicle.price) %></p>
        </div>
  </div>
	<div class="row">
		<div class="col s12">
		<h3>Description</h3>
		<%= @vehicle.description.html_safe %>
	    </div>
	</div>
	<div class="row">
	  <div class="col s12">
		<h2 style="font-size: 3rem;">Photos</h2>
		<div class="divider"></div>
	  </div>
	</div>
		
		<div class="row">
			<% unless @vehicle_photos.empty? %>
		<% @vehicle_photos.each do |g| %>
		<div class="col s12 m4">
         <%= image_tag(g.file_name.url, :class => "responsive-img materialboxed") %>
         
        </div>
        <% end %>
        <% else %>
        <h4> No Photos </h4>
        <% end %>
        </div>
         
         
		
	</div>
</section>

