<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130164907-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-130164907-2');
    </script>

    <meta charset="UTF-8">
    <title>Southeastern Classics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Located outside of Chatanooga, TN, Southeastern Classics buys, sells, and trades classic automobiles and parts."/>
    <meta name="keywords" content="classic cars, trucks, motorcycles, vehicles, automobiles, for sale, old cars, antique cars"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/nne3gxi.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
  </head>

  <body>
    <header>
    <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="/" class="brand-logo white-text" id="brandLogo"><span class="brand-text1">Southeastern</span> <span class="brand-text2">Classics</span></a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="nav-list"><a href="/listings/vehicles" class="white-text">Vehicles</a></li>
        <li class="nav-list"><a href="/contact" class="white-text">Contact</a></li>
      </ul>
    </div>
    </nav>
    </div>
    <ul class="sidenav" id="mobile-nav">
        <li><a href="/listings/vehicles" class="black-text">Vehicles</a></li>
        <li><a href="/contact" class="black-text">Contact</a></li>
    </ul>
    </header>

    <main>
      <% flash.each do |key, value| %>
        <div style="text-align: center;" class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
  </main>

 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Southeastern Classics</h5>
                <p class="grey-text text-lighten-4"> <i class="tiny material-icons">phone</i> <a href="tel://423-788-4009" class="grey-text text-lighten-4">423-788-4009</a></p>
                 <p class="grey-text text-lighten-4"> <i class="tiny material-icons">location_on</i>8745 HWY 58 Harrison, TN 37341</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/listings/vehicles">Vehicles</a></li>
                  <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © <%= Time.new.strftime("%Y") %> Southeastern Classics
            <a class="grey-text text-lighten-4 right" href="/admin">Login</a>
            </div>
          </div>
        </footer>
  </body>
</html>
