<!DOCTYPE html>
<html>
  <head>
    <title>Southeastern Classics</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/nne3gxi.css">
  </head>

  <body>
    <header>
    <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="/" class="brand-logo white-text" id="brandLogo"><span class="brand-text1">Southeastern</span> <span class="brand-text2">Classics</span></a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="nav-list"><a href="/listings/vehicles" class="white-text">Vehicles</a></li>
      </ul>
    </div>
    </nav>
    </div>
    <ul class="sidenav" id="mobile-nav">
        <li><a href="/listings/vehicles" class="black-text">Vehicles</a></li>
    </ul>
    </header>

    <main>
      <% flash.each do |key, value| %>
        <div style="text-align: center;" class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
  </main>

 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Southeastern Classics</h5>
                <p class="grey-text text-lighten-4"> <i class="tiny material-icons">phone</i> <a href="tel://423-788-4009" class="grey-text text-lighten-4">423-788-4009</a></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/listings/vehicles">Vehicles</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © <%= Time.new.strftime("%Y") %> Southeastern Classics
            <a class="grey-text text-lighten-4 right" href="/admin">Login</a>
            </div>
          </div>
        </footer>
  </body>
</html>
